<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <provider
            android:name=".DebugInspectorInitProvider"
            android:authorities="${applicationId}.debug-inspector-init"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>
